<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Adopt Pet</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h2>Adopt Pet</h2>

<form th:action="@{/adopt}" method="post">
  <input type="hidden" name="petId" th:value="${pet.id_pet}" />
  <p>Current pet:</p>
  ID: <p th:text="${pet.id_pet}"></p>
  Name: <p th:text="${pet.name}"></p>
  Breed: <p th:text="${pet.breed}"></p>
  Species: <p th:text="${pet.species}"></p>
  <label for="adopterId">Adopter ID:</label>
  <input type="text" id="adopterId" name="adopterId" required />
  <label for="adopterId">Name:</label>
  <input type="text" id="name" name="name" required />
  <label for="adopterId">Surname:</label>
  <input type="text" id="surname" name="surname" required />
  <button type="submit">Apply to Adopt</button>
</form>
<p th:if="${message}" th:text="${message}"></p>
<br/>

<a th:href="@{/pet-home}">
  Back to home page
</a>
<img id="bottom-right-image" src="/56-561023_dog-and-cat-adoption-dog-and-cat-silhouette.png" alt="Paws Image">

</body>
</html>
